<!DOCTYPE html>
<html>
<head>
    <title>{{ title or "Flask App" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>{{ title or "Flask App" }}</h1>
    </header>

    <main>
        <p class="flash-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="flash">{{ msg }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
